* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  padding: 10px;
}

section {
  height: 150px;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px 250px;
  grid-gap: 15px;
}

article {
  padding: 10px 0;
}

article h3 {
  padding: 10px 0;
  text-align: center;
}

article p {
  padding: 10px 0;
}