* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #11171C;
  /*background: url('../images/stars-background.jpg');*/
  color: #FCFCFC;
}

img {
  height: 40px;
  width: 40px;
}

nav {
  align-items: center;
  background-color: #19364F;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  padding: 10px;
}

section {
  height: 150px;
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
  font-weight: 400;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px 250px;
  grid-gap: 15px;
  padding: 15px;
}

article {
  background-color: #19364F;
  border: 1px solid #FFD166;
  border-radius: 5px;
  padding: 10px 0;
  text-align: center;
}

article h3 {
  padding: 10px 0;
  text-align: center;
}

article p {
  padding: 10px 0;
}