* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url('../images/stars-background.jpg');
  color: #FCFCFC;
  display: grid;
  font-family: 'Roboto', sans-serif;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px auto 1fr;
  grid-template-areas: 
    'nav nav nav'
    'aside-left header aside-right'
    'main main main';
}

img {
  height: 40px;
  width: 40px;
}

nav {
  align-items: center;
  background-color: #19364F;
  display: flex;
  flex-direction: row;
  grid-area: nav;
  height: 50px;
  justify-content: space-between;
  padding: 10px;
}

nav button {
  background-color: #FFD166;
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  width: 50px; 
}

aside {
  border: 1px solid #FFD166;
  border-radius: 3px;
  background-color: #19364F;
  padding: 15px;
  margin: 15px;
  text-align: center;
}

aside ul {
  list-style: none;
}

aside ul li {
  margin: 5px;
}

.friend-name {
  font-size: 1.1em;
  font-weight: 700;
}

#aside-left {
  grid-area: aside-left;
}

#aside-right {
  grid-area: aside-right;
}

header {
  background-color: #19364F;
  border: 1px solid #FFD166;
  border-radius: 3px;
  grid-area: header;
  margin: 15px;
  padding: 15px;
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
  font-weight: 400;
}

main {
  display: grid;
  grid-area: main;
  grid-template-columns: repeat(3, 1fr);
}

.week {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 50%;
}

section {
  align-items: center;
  background-color: #19364F;
  border: 1px solid #FFD166;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 15px;
  padding: 15px;
}

section h3 {
  padding: 10px 0;
  text-align: center;
}

section ul {
  width: 100%;
}

section p {
  padding: 10px 0;
  text-align: center;
}

section li {
  display: flex;
  justify-content: space-between;
  width: 100%; 
}

section div {
  display: inline-block;
}

@media screen and (max-width: 675px) {
  
  main {
  grid-template-columns: repeat(2, 1fr);
  }
}